@page "/"

<PageTitle>About This Project</PageTitle>

<h1>Our Spreadsheet </h1>
<strong>Maximillion Jon Chua, Jesse Pan</strong>

 <br>
 
 <p>
     In our project, We created a spreadsheet that has the functionalities of being able to edit cells and
     have it do arithmetic with said cells. So Essentially, We are able to do math, store words or number into
     each cell. Another functionality that we have in our Spreadsheet is that we are able to save and load
     spreadsheet data. 
 </p>

 <h4>Addition Functionality</h4>
 <p>
     Made it easier for user to save spreadsheet data in any chosen user input string.
 </p>
 <p>
     <strong>Undo</strong> and <strong>Redo</strong> button. Our definition of the undo and redo button means that we are able to undo any changes 
     that have been done when you pressed enter and save something into the spreadsheet cell. For our redo, we expect each time we press the button
     we restore a cell that has been previously been undone by the undone button. These button are represented by
     <strong>-)</strong> as redo and <strong>(-</strong> as undo.
 </p>
 
 <p>
     <strong>Clear</strong> button, that basically clears the spreadsheet of any data in any cell into it original form being empty.
 </p>
 
 <h4>Development Details </h4>
 <p>
     Our custom function, Undo and Redo works by having 2 stacks. Our stacks are <code>_undoHistoryStack</code>,<code>_redoHistoryStack </code>.
     In a High level overview, Our implementation is that each time you edit a cell with our 
     Contents box. We push onto our undo stack to keep track of our edit history. We keep track of the content
     and the Name of the cell that we edited
     If we pressed the undo button we keep track of what has been undone so that when we
     Due to the nature of a stack being last in first out. We can accurately track the history of our edits.
 </p>